@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 59, 101, 108;
  
  --border: 201, 210, 216;

  --shadow: 0, 0, 0;

  --text-primary: 255, 255, 255;
  --text-secondary: 255, 255, 255;

  --text-link: 0, 0, 0;
  --text-link-hover: 0, 0, 0;

  --controls-text: 0, 0, 0;
  --controls-text-hover: 0, 0, 0;
  --controls-bg: 0, 0, 0;
  --controls-bg-hover: 0, 0, 0;

  --button-primary-text: 255, 255,255;
  --button-primary-text-hover: 255, 255,255;
  --button-primary-bg: 247, 143, 0;
  --button-primary-bg-hover: 237, 123, 0;

  --button-secondary-text: 255, 255,255;
  --button-secondary-text-hover: 255, 255,255;
  --button-secondary-bg: 59, 101, 108;
  --button-secondary-bg-hover: 45, 76, 82;

  --border-radius-none: 0;
  --border-radius-sm: .125rem;
  --border-radius-md: 1rem;
  --border-radius-lg: .5rem;
  --border-radius-full: 9999px;

  --shadow-default: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-inner: none;
  --shadow-outline: none;
}

.theme-s {
  --background: 248, 244, 241;
  
  --border: 160, 190, 199;

  --shadow: 0, 0, 0;

  --text-primary: 0, 90, 119;
  --text-secondary: 255, 255, 255;

  --text-link: 0, 90, 119;
  --text-link-hover: 0, 90, 119;

  --controls-text: 0, 0, 0;
  --controls-text-hover: 0, 0, 0;
  --controls-bg: 0, 0, 0;
  --controls-bg-hover: 0, 0, 0;

  --button-primary-text: 255, 255, 255;
  --button-primary-text-hover: 255, 255, 255;
  --button-primary-bg: 0, 69, 92;
  --button-primary-bg-hover: 0, 90, 119;

  --button-secondary-text: 0, 69, 92;
  --button-secondary-text-hover: 255, 255, 255;
  --button-secondary-bg: 255, 255, 255;
  --button-secondary-bg-hover: 0, 69, 92;

  --border-radius-none: 0;
  --border-radius-sm: 0;
  --border-radius-md: 0;
  --border-radius-lg: 0;
  --border-radius-full: 0;

  --shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(52, 144, 220, 0.5);
  --shadow-none: none;
}

.theme-d {
  --background: 187, 205, 195;
  
  --border: 110, 128, 123;

  --shadow: 0, 0, 0;

  --text-primary: 58, 77, 75;
  --text-secondary: 255, 255, 255;

  --text-link: 58, 77, 75;
  --text-link-hover: 58, 77, 75;

  --controls-text: 0, 0, 0;
  --controls-text-hover: 0, 0, 0;
  --controls-bg: 0, 0, 0;
  --controls-bg-hover: 0, 0, 0;

  --button-primary-text: 255, 255, 255;
  --button-primary-text-hover: 255, 255, 255;
  --button-primary-bg: 40, 53, 52;
  --button-primary-bg-hover: 58, 77, 75;

  --button-secondary-text: 110, 128, 123;
  --button-secondary-text-hover: 255, 255, 255;
  --button-secondary-bg: 238, 242, 240;
  --button-secondary-bg-hover: 110, 128, 123;
  --border-radius-none: 0;
  --border-radius-sm: 0;
  --border-radius-md: 0;
  --border-radius-lg: 0;
  --border-radius-full: 9999px;

  --shadow-default: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-inner: none;
  --shadow-outline: none;
}
