@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 59, 101, 108;

  --text-primary: 255, 255, 255;
  --text-secondary: 255, 255, 255;

  --text-link: 0, 0, 0;
  --text-link-hover: 0, 0, 0;

  --controls-text: 255, 255, 255;
  --controls-text-hover: 255, 255, 255;
  --controls-bg: 247, 143, 0;
  --controls-bg-hover: 237, 123, 0;
  --controls-border-radius: 9999px;

  --button-primary-text: 255, 255,255;
  --button-primary-text-hover: 255, 255,255;
  --button-primary-bg: 247, 143, 0;
  --button-primary-bg-hover: 237, 123, 0;

  --button-secondary-text: 255, 255,255;
  --button-secondary-text-hover: 255, 255,255;
  --button-secondary-bg: 59, 101, 108;
  --button-secondary-bg-hover: 45, 76, 82;

  --button-border-radius: 0;

  --border-color: 201, 210, 216;

  --border-width: 2px;

  --border-radius: 0;

}

.theme-s {
  --background: 248, 244, 241;

  --text-primary: 0, 90, 119;
  --text-secondary: 255, 255, 255;

  --text-link: 0, 90, 119;
  --text-link-hover: 0, 90, 119;

  --controls-text: 255, 255, 255;
  --controls-text-hover: 255, 255, 255;
  --controls-bg: 0, 69, 92;
  --controls-bg-hover: 0, 90, 119;
  --controls-border-radius: 0;

  --button-primary-text: 255, 255, 255;
  --button-primary-text-hover: 255, 255, 255;
  --button-primary-bg: 0, 69, 92;
  --button-primary-bg-hover: 0, 90, 119;

  --button-secondary-text: 0, 69, 92;
  --button-secondary-text-hover: 255, 255, 255;
  --button-secondary-bg: 255, 255, 255;
  --button-secondary-bg-hover: 0, 69, 92;

  --button-border-radius: 9999px;
  
  --border-color: 160, 190, 199;

  --border-width: 5px;

  --border-radius: 10px;
}

.theme-d {
  --background: 187, 205, 195;
  
  --text-primary: 58, 77, 75;
  --text-secondary: 255, 255, 255;

  --text-link: 58, 77, 75;
  --text-link-hover: 58, 77, 75;

  --controls-text: 110, 128, 123;
  --controls-text-hover: 255, 255, 255;
  --controls-bg: 238, 242, 240;
  --controls-bg-hover: 110, 128, 123;
  --controls-border-radius: 10px;

  --button-primary-text: 255, 255, 255;
  --button-primary-text-hover: 255, 255, 255;
  --button-primary-bg: 40, 53, 52;
  --button-primary-bg-hover: 58, 77, 75;

  --button-secondary-text: 110, 128, 123;
  --button-secondary-text-hover: 255, 255, 255;
  --button-secondary-bg: 238, 242, 240;
  --button-secondary-bg-hover: 110, 128, 123;

  --button-border-radius: 5px;
  
  --border-color: 110, 128, 123;

  --border-width: 1px;

  --border-radius: 0px;
}
